<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.department13.skryfi"
      android:versionCode="1"
      android:versionName="1.0"
      android:compileSdkVersion="33"
      android:targetSdkVersion="33">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- WRITE_EXTERNAL_STORAGE removed as per Android 13 best practices.
         App should use scoped storage for its files. -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"
                     android:usesPermissionFlags="neverForLocation" />

    <application
    	android:icon="@drawable/icon"
    	android:label="@string/app_name"
    	android:debuggable="true">
        <activity android:name=".HomeScreen"
                  android:label="@string/app_name"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveyListScreen" android:exported="false"></activity>
   		<activity android:name=".MoreInfoScreen" android:exported="false"></activity>
   		<activity android:name=".NodesScreen" android:exported="false"></activity>
   		<activity android:name=".NetworkListScreen" android:exported="false"></activity>
   		<service android:name=".SurveyManagerService" android:exported="false"></service>
    </application>
</manifest>